.formGroup {
  position: relative;
  margin-bottom: 24px;
}

.inModal {
  margin-bottom: 8px;
}

.input {
  position: relative;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--gray-40);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--gray-10);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputEmpty {
  border: 1px solid #ec6f5d;
  background-color: #fff0ee;
  color: #ec6f5d;
}

.input:focus {
  border-color: var(--accent-gold-hover);
  box-shadow: var(--shadow);
  outline: none;
}

.loginFormIcon {
  position: absolute;
  color: var(--gray-60);
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.loginFormIcon:hover {
  color: var(--accent-orange-color);
}
