.textareaWrapper {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--gray-40);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--gray-10);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textarea::placeholder {
  font-family: "Manrope";
  color: red;
}

.textarea:focus {
  border-color: var(--accent-gold-hover);
  box-shadow: var(--shadow);
  outline: none;
}
