.productsTablePage {
  min-height: 94vh;
  height: 100%;
  padding-top: 16px;
}

.title {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.tableBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
