.productCard {
  flex: 1 1 calc(33.333% - 40px);
  height: fit-content;
  margin: 10px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white-color);
  transition: transform 0.3s;
  cursor: pointer;
}

.productCard:hover {
  transform: translateY(-3px);
}

.productImg {
  display: flex;
  justify-content: center;
  padding: 24px 32px 12px 32px;
}

.productInfo {
  padding: 14px 20px;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .productInfo {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
}

.productInfoTitle {
  color: var(--text-color);
  margin: 0px 0px 0px 0px;
  min-height: 40px;
  font-size: 18px;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .productInfoTitle {
    font-size: 14px;
    min-height: 3px;
  }
}

.productInfoDescr {
  font-size: 12px;
  text-align: left;
  margin: 0.5rem 0rem 1.5rem 0rem;
  color: var(--gray-70);
  overflow: hidden;
  height: 70px;
  text-overflow: ellipsis;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .productInfoDescr {
    font-size: 10px;
    height: 48px;
  }
}

.priceAndQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .priceAndQuantity {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.productInfoPrice {
  font-size: 20px;
  color: var(--accent-orange-color);
  line-height: 0;
  font-weight: bold;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .productInfoPrice {
    padding-bottom: 16px;
    font-size: 16px;
  }
}

.productInfoQuantity {
  font-size: 12px;
  color: var(--text-color);
  font-weight: bold;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .productInfoQuantity {
    font-size: 10px;
    align-self: flex-end;
  }
}

.productBuyBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}
