.loginForm {
  position: relative;
  max-width: 500px;
  height: 630px;
  margin-top: 100px;
  padding: 36px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-40);
  border-radius: 10px;
  box-shadow: var(--shadow-color);
}
.logo {
  margin: 0 auto;
  width: 20rem;
}

.titleForm {
  margin-top: 60px;
  margin-bottom: 36px;
  text-align: center;
  font-size: 1.6rem;
  color: var(--text-color);
}

.btnGroup {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .titleForm {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .titleForm {
    font-size: 2rem;
  }
}

.footerCard {
  width: 100%;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
}
