@import-normalize;

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope.ttf") format("truetype");
}

:root {
  --background-color: #fcffda;
  --text-color: #212c3d;
  --accent-gold-color: #ffde59;
  --accent-gold-hover: #ffca42;
  --accent-orange-color: #f98033;
  --white-color: #fff;
  --dark-gray: #999;
  --light-gray: #ccc;
  --background-input: #f9f9f9;
  --shadow-color: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fef9f9;
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
