.cardsBlock {
  min-height: 100vh;
  height: 100%;
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 12px 20px;
  min-height: 80vh;
}

@media (min-width: 480px) {
  .cardsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cardsBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cardsBlock {
    grid-template-columns: repeat(4, 1fr);
  }
}
